body {display: block;
      background-color: black;
      font-size: 22px;
      color: seashell;
      font-family: Helvetica;
      opacity: 0.9;
      text-align: center;}

h2 {margin: 0;
    padding: 10px;}

h3 {margin: 0;
    padding: 10px;}

h4 {margin: 0;
    padding: 10px;}


header {display: flex;
        height: 69px;
        align-items: center;
        text-direction: underline;
        position: fixed;
        border-bottom: 1px solid seashell;
        flex-wrap: wrap;
        }


a {color: seashell;}

header nav {padding-right: 40px;
            text-align: right;
            width: 1000px;
                    }


div.logo img {margin: 10px 10px;
              height: 50px;
              padding-left: 10px;
              }

nav span {
          display: inline-block;
          padding: 20px 10px;
          }

div.content {display: block;
            padding-top: 69px;
            opacity: 0.9;
            width: 1200px;
            margin: auto;
            }

div.mission {display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 700px;
            padding-top: 70px;
            background-color: black;
            background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);}
div.headings {display: block;
              height: 110px;
              width: 1200px;
              margin: auto;
              background-color: black;}

div.tea {display: block;
        flex-wrap: wrap;
        justify-content: center;
        height: 700px;
        width: 1000px;
        margin: auto;
        padding-top: 70px;}
div.teatypes img {height: 200px;
                  margin: 10px;
                  display: block;}
div.teatypes {display: flex;
              justify-content: center;
              flex-wrap: wrap;}
div.item {display: block;
          padding: 5px;}

#contact {text-align: center;
            height: 200px;
            }
div.locations {height: 500px;
            padding-top: 70px;
            background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);}

div.flex-container {display: flex;
                  justify-content: center;
                  flex-wrap: wrap;
                  }

div.location {display: flex;
          flex-direction: column;
          background-color: black;
          justify-content: center;
          flex-basis: 280px;
          margin: 5px 20px;
          padding: 10px;}

footer {text-align: left;
        margin-left: 20px;}
